@import 'tailwindcss';

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
}

@layer base {
  html {
    @apply transition-colors duration-300;
  }

  body {
    @apply bg-gray-50 transition-colors duration-300 dark:bg-slate-950;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-violet-500/20;
  }
}
