@import 'tailwindcss';

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

  html {
    @apply bg-background text-foreground scroll-smooth;
  }

  body {
    @apply bg-background text-foreground min-h-screen font-sans;
  }
}

@layer utilities {
  .glass {
    @apply rounded-2xl border border-white/10 bg-neutral-900/60 backdrop-blur-2xl;
  }

  .focus-ring {
    @apply focus:ring-primary focus:ring-offset-background focus:ring-2 focus:ring-offset-2 focus:outline-none;
  }

  .button {
    @apply inline-flex w-full cursor-pointer items-center justify-center overflow-hidden rounded-lg px-4 py-3 text-base font-medium transition-all duration-300 disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
  }

  .small-btn {
    @apply rounded-full border border-white/10 bg-white/5 p-2 text-neutral-400 transition-all hover:border-white/30 hover:bg-white/10 hover:text-white;
  }

  .primary-btn {
    @apply from-primary to-accent hover:shadow-primary/10 text-foreground bg-gradient-to-r active:scale-95;
  }

  .secondary-btn {
    @apply bg-secondary hover:bg-secondary/50 text-background active:scale-95;
  }

  .outline-btn {
    @apply border-muted text-muted-foreground hover:bg-muted/50 border hover:shadow-lg active:scale-95;
  }

  .input {
    @apply focus:border-primary text-foreground w-full border-b-2 border-neutral-700 bg-transparent py-3 text-lg font-bold placeholder-transparent transition-colors focus:outline-none;
  }

  .input-label {
    @apply absolute left-0 text-xs font-bold tracking-wider uppercase transition-all;
    color: hsl(var(--color-muted-foreground));
    top: 0.875rem;
    font-size: 1rem;
  }

  .input:focus ~ .input-label,
  .input:not(:placeholder-shown) ~ .input-label {
    top: -0.875rem;
    font-size: 0.75rem;
    color: hsl(var(--color-primary));
  }

  /* result page */
  .score-badge {
    @apply mb-1 text-xs font-bold text-neutral-400;
  }
}

@theme {
  --color-primary: oklch(55.5% 0.163 48.998);
  --color-accent: oklch(75% 0.183 55.934);
  --color-secondary: #f0f0f0;
  --color-success: oklch(72.3% 0.219 149.579);
  --color-error: oklch(63.7% 0.237 25.331);
  --color-background: #080808;
  --color-foreground: #f9f9f9;
  --color-muted: #333333;
  --color-muted-foreground: #a3a3a3;
  --color-border: #262626;

  /* font */
  --font-sans: 'Noto Sans TC', sans-serif;
  --font-serif: 'Noto Serif TC', serif;

  /* animate */
  --animate-blob: blob 7s infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

/*
        secondary: 'bg-secondary text-foreground hover:bg-secondary/90 active:scale-95',
        ghost: 'border border-border text-foreground hover:bg-muted/50 active:scale-95',
        danger: 'bg-error text-white hover:shadow-lg hover:shadow-error/50 active:scale-95',
        accent: 'bg-accent text-white hover:shadow-lg hover:shadow-accent/50 active:scale-95', */
